# Python
__pycache__/
*.pyc

# Env / secrets
.env

# Streamlit
.streamlit/

# Office lock files
.~lock.*

# Exports / data (évite de pousser des gros CSV/ODS)
*.csv
*.ods

# OS
.DS_Store
Thumbs.db


# Polaires (on versionne ces CSV-là)
!start_aid/polars/
!start_aid/polars/*.csv
